<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= details.game %>/<%= details.scoreboard %> - StatDriver</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/scoreboard.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/Chart.min.css">
    <script type="text/javascript" src="/assets/js/Chart.bundle.min.js"></script>
    <script type="text/javascript" async>
        window.onload = function () {
            var ctxCount = document.getElementById("graph-count").getContext('2d');
            var ctxAvg = document.getElementById("graph-average").getContext('2d');

            var data = <%- JSON.stringify(stats.perDayStats || {}) %>;

            var parsedData = Object
                .entries(data)
                .map(([x, y]) => (
                    {
                        t: new Date(new Date().getTime() + ((parseInt(x) * 86400) * 1000)),
                        y
                    }
                ))
                .sort((a, b) => a.t - b.t);

            new Chart(ctxCount, {
                type: 'bar',
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }]
                    }
                },
                data: {
                    labels: parsedData.map(({ t }) => t),
                    datasets: [{
                        label: 'Entries per day',
                        data: parsedData.map(({ y }) => y.dayCount),
                        backgroundColor: "rgba(35,66,64,1)"
                    }]
                }
            });
            new Chart(ctxAvg, {
                type: 'bar',
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day'
                            }
                        }]
                    }
                },
                data: {
                    labels: parsedData.map(({ t }) => t),
                    datasets: [{
                        label: 'Daily score average',
                        data: parsedData.map(({ y }) => y.dayAverage),
                        backgroundColor: "rgba(35,66,64,1)"
                    }]
                }
            });
        }
    </script>
</head>
<body>
<div id="top">
    <div class="logo">StatDriver</div>
    <div id="menu">
        <a href="/profile" class="bmenu profile">profile</a>
        <a href="/dashboard" class="bmenu profile">dashboard</a>
        <a href="/auth/logout" class="bmenu logout">logout</a>
    </div>
</div>

<div class="wrapper">
    <div class="page">
        <div class="header">
            <div class="title">
                <a class="game" href="/game/<%= details.gameId %>"><%= details.game %></a> /
                <span class="scoreboard"><%= details.scoreboard %></span>
            </div>
            <div class="nav">
                <a href="/game/<%= details.gameId %>">back to game</a>
                <a href="/game/<%= details.gameId %>/new-scoreboard">create new scoreboard</a>
            </div>
        </div>

        <div class="graphs">
            <div class="graph-container">
                <canvas id="graph-count"></canvas>
            </div>
            <div class="graph-container">
                <canvas id="graph-average"></canvas>
            </div>
        </div>

        <div class="singlestats">
            <div class="stat">
                <div class="value"><%= stats.allScoreAverage %></div>
                <div class="subtitle">Avg. Score</div>
            </div>
            <div class="stat">
                <div class="value"><%= stats.timeScoreAverage %></div>
                <div class="subtitle">Avg. Score / <%= details.pastDaysParsed %> days</div>
            </div>
            <div class="stat">
                <div class="value"><%= stats.allScoreCount %></div>
                <div class="subtitle">Total Records</div>
            </div>
            <div class="stat">
                <div class="value"><%= stats.timeScoreCount %></div>
                <div class="subtitle">Total Records / <%= details.pastDaysParsed %> days</div>
            </div>
        </div>

        <div class="main">
            <div class="scoreboard">
                <table class="scores">
                    <thead>
                    <tr>
                        <td class="align-r">rank</td>
                        <td class="align-l">player</td>
                        <td class="align-r">score</td>
                        <td class="align-r">time of record</td>
                        <td class="align-r">delete</td>
                    </tr>
                    </thead>
                    <tbody>

                    <% let rank = 1; for (let e of entries) { %>
                        <tr>
                            <td class="align-r"><%= rank %></td>
                            <td class="align-l"><%= e.name %></td>
                            <td class="align-r"><%= e.score %></td>
                            <td class="align-r"><%= new Date(e.timestamp * 1000).toLocaleString('de-DE') %></td>
                            <td class="align-r">
                                <form method="post">
                                    <input type="hidden" name="deleteEntry" value="<%= e.id %>">
                                    <input type="submit" value="x">
                                </form>
                            </td>
                        </tr>
                    <% rank++; } %>
                    </tbody>
                </table>
            </div>
            <div class="controls">
                <div class="control-segment">
                    <h3 class="title">Filter Settings</h3>

                    <form method="post">
                        <div class="field">
                            <label class="label" for="input-scoreboard-name">Scoreboard Name</label>
                            <input class="input" id="input-scoreboard-name" type="text" name="newName"
                                   value="<%= details.scoreboard %>" />
                        </div>
                        <div class="field">
                            <label class="label" for="input-embed-title">Embed Title</label>
                            <input class="input" id="input-embed-title" type="text" name="embedTitle"
                                   value="<%= details.embedTitle %>" />
                        </div>
                        <div class="field">
                            <label class="label" for="input-embed-state">Enable/Disable Embed</label>
                            <input class="input" id="input-embed-state" type="checkbox"
                                   name="enableEmbed" <%= details.embedEnabled == 1 ? 'checked' : '' %>
                                   value="1" />
                        </div>
                        <div class="field">
                            <input class="input" type="submit" value="save settings">
                        </div>
                    </form>
                </div>

                <div class="control-segment">
                    <h3 class="title">Filter Settings</h3>

                    <form method="get">
                        <div class="field">
                            <label class="label" for="input-top-entries">Top entries</label>
                            <input class="input" id="input-top-entries" type="number" name="maxEntries"
                                   value="<%= details.maxEntriesParsed %>" />
                        </div>
                        <div class="field">
                            <label class="label" for="input-past-days">Past Days to Analyze</label>
                            <input class="input" id="input-past-days" type="number" name="pastDays"
                                   value="<%= details.pastDaysParsed %>" />
                        </div>
                        <div class="field">
                            <label class="label" for="input-player-filter">Player Filter</label>
                            <input class="input" id="input-player-filter" type="text" name="scoreNameFilter"
                                   value="<%= details.scoreNameFilter %>" />
                        </div>

                        <div class="field">
                            <input class="input" type="submit" value="apply filters" />
                        </div>
                    </form>
                </div>

                <div class="control-segment">
                    <h3 class="title danger">Danger Zone</h3>
                    <form method="post">
                        <div class="field">
                            <input class="input" type="submit" name="resetApiKeys" value="reset API keys" />
                        </div>
                    </form>

                    <form method="post">
                        <div class="field">
                            <input class="input" type="submit" name="clearEntries" value="delete all entries" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>

</body>
</html>