<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= details.game %>/<%= details.scoreboard %> - StatDriver</title>
</head>
<body>
<h1>details</h1>
<pre>
<%= JSON.stringify(details, null, 2) %>
</pre>
<h1>stats</h1>
<pre>
<%= JSON.stringify(stats, null, 2) %>
</pre>
<h1>entries</h1>
<pre>
<%= JSON.stringify(entries, null, 2) %>
</pre>
<table>
    <thead>
    <tr>
        <td>rank</td>
        <td>player</td>
        <td>score</td>
        <td>time of record</td>
        <td>actions</td>
    </tr>
    </thead>
    <tbody>
    <% let rank = 1; for (let e of entries) { %>
        <tr>
            <td><%= rank %></td>
            <td><%= e.name %></td>
            <td><%= e.score %></td>
            <td><%= new Date(e.timestamp * 1000).toLocaleString('de-DE') %></td>
            <td>
                <form method="post">
                    <input type="hidden" name="deleteEntry" value="<%= e.id %>">
                    <input type="submit" value="x">
                </form>
            </td>
        </tr>
    <% rank++; } %>
    </tbody>
</table>
</body>
</html>